.LikePopup {
  width: 280px;
  height: 180px;
  min-height: 140px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  font-size: 0.9em !important;

}

popup-wrapper {
  padding: 20px;
}

.popup-top {
  display: flex;
  flex-direction: column;
}

.popup-bottom {
  display: flex;
  flex-direction: column;
}

.popup-h5 {
  font-size: 13px;
}

.background-faded {
  background-color: rgba(255, 255, 255, 0.3);
 position: fixed;
 height: 100vh;
 width: 100vw;
 -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 500;
}

.no-likes {
  margin: 30px auto;
}